body {
  height: 100%;
  background-image: url("../../assets/img/bg_cropped_dark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

#search-div {
  height: 50vh;
}

#logo {
  padding-bottom: 15rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#bg-img {
  position: absolute;
  z-index: -10;
}

.search-form {
  width: 74%;
  margin: auto auto;
  padding-top: 13rem;
}

@media only screen and (min-width: 768px) {
  .search-form {
    width: 50%;
    padding-top: 18rem;
  }
}

#socials {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
}

